<?xml version="1.0"?>
<launch>
  <arg name="use_realsense"  default="false" />
  <arg name="use_lidar"      default="true" />
  <arg name="use_web_camera" default="true" />  
  <arg name="use_sound"      default="true" /> 
  <arg name="use_tts"        default="true" /> 

  <include file="$(find thormang3_sensors)/launch/thormang3_pointcloud.launch" if="$(arg use_lidar)"/> 
  <include file="$(find thormang3_sensors)/launch/thormang3_realsense.launch"  if="$(arg use_realsense)"/>
  <include file="$(find thormang3_sensors)/launch/thormang3_web_cam.launch"    if="$(arg use_web_camera)"/> 

  <group if="$(arg use_sound)">
    <!-- <node pkg="ros_mpg321_player" type="ros_mpg321_player" name="ros_mpg321_player" output="screen"/> -->
    <node pkg="ros_mpg321_player" type="ros_mpg321_player" name="ros_mpg321_player"/>
  </group>

  <group if="$(arg use_tts)">
    <!-- <node pkg="thormang3_sensors" type="text2speech.py"    name="text2speech"   output="screen"/> -->
    <node pkg="thormang3_tts" type="gtts_free.py.py"    name="text2speech"   output="screen"/>
  </group>

</launch>
